// Shortened nextflow config file to run tests for further development

report {
    enabled = true
    file = '/data/output/report.html'
}

params {
    max_memory = 5.GB
    max_cpus = 2
}

process.pod.nodeSelector = 'cwsexperiment=true'
k8s {
    pod.nodeSelector = 'cwsscheduler=true'
    scheduler.nodeSelector = 'cwsscheduler=true'
}

process.executor = 'k8s'
k8s {
    debug.yaml = true
    namespace = 'cws'
    serviceAccount = 'nextflow'
    workDir = '/data/work/'
    projectDir = '/data/project/'
    imagePullPolicy = 'IfNotPresent'
    launchDir = '/data/launch/'
    runAsUser = 0
    fetchNodeName = true
    scheduler {
        name = 'workflow-scheduler'
        namespace = 'cws'
        serviceAccount = 'nextflowscheduleraccount'
        imagePullPolicy: 'Always'
        cpu = '2'
        autoClose = false
        runAsUser = 0
        batchSize = 1000
    }
}
executor {
    queueSize = 300
}

dag {
    enabled = true
    file = '/data/output/dag.html'
}

trace {
    enabled = true
    sep = ';'
    raw = true
    file = '/data/output/trace.csv'
    fields = 'task_id,hostname,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action'
}

profiles {
    fifo_random {
        params {
            max_memory = 50.GB
            max_cpus = 6
        }
    }
    fifo_random {
        k8s.scheduler.strategy = "fifo-random"
    }


includeConfig "versions.config"

}
